// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.info-user{
	width:100%;
}
.img-thumbnail{
	width:100px;
	height:100px;
	bodrer:1px solid green;
	border-radius:50%;
}
